{% extends "mems_apps/student_base.html" %}

{% block content %} 

<p>Here's the extras you've selected</p>

<ul>
    {% for extra in selected_extras %}
        <li>{{ extra.extras_type  }} - {{extra.quantity }}<a href="{% url 'mems_apps:remove_from_plate' extra.id %}"><button>remove</button></a></li>
        
    {% empty %}
        <li>No extras have been added yet.</li>
    {% endfor %}
</ul>

<button><a href="{% url 'mems_apps:add_to_plate' %}">add more</a></button>
<button><a href="{% url 'mems_apps:confirmation' %}">confirm</a></button>

{% endblock content %}